---
layout: layouts/default.hbs
title: About Me
permalink: about.html
---

<section class="about-section py-5">
  <div class="container">
    <h1>About Me</h1>
    <p>Hi, I'm Jy Alexander, I am currently a 3rd year Computer Programming & analysis student at Durham College</p>
    <p>I love anything Tech, Science, or Car related.</p>
    <p>My hobbies include ice skating, basketball, soccer, and going to the race track.</p>
    <p>I LOVE seafood, i hope i don't develop an allergy some day but I wont let that stop me</p>
    <p>I am a self proclaimed doer, i love doing things--whether it be trying new food, or trying a new experience, im here for it all</p>
    <p>Explore my classword here:</p>
    <ul>
      <li><a href="portfolio.html">Portfolio</a></li>
    </ul>

    <h2>Contact Information</h2>
    <ul>
      <li>Email: <a href="mailto:jyalexander63@gmail.com">jyalexander63@gmail.com</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/jyalexander" target="_blank">linkedin.com/in/jyalexander</a></li>
    </ul>
  </div>
</section>
