---
layout: layouts/default.hbs
title: Classwork - Algorithms Practice
permalink: classwork/algorithms.html
---

<section class="classwork-details-section py-5">
  <div class="container">
    <h1>Classwork: Flutter app</h1>
    <p>This exercise focused on creating my first Flutter application</p>
    <img src="/images/classwork1.png" class="img-fluid mb-4" alt="Algorithms Practice">
    <h2>What I Learned:</h2>
    <p>How to create an application using flutter, run it on an emulator and my physical device.</p>
  </div>
</section>
