---
layout: layouts/default.hbs
title: Lab 1 - Responsive Design
permalink: labs/lab3.html
---

<section class="lab-details-section py-5">
  <div class="container">
    <h1>Lab 3: 2 Page Application</h1>
    <p>This lab focused on creating an application using android studio.</p>
    <img src="/images/ss88.png" class="img-fluid mb-4" alt="Lab 3">
    <img src="/images/ss89.png" class="img-fluid mb-4" alt="Lab 3">
    {{!-- <h2>Code Snippet:</h2>
    <pre>
      <code>
        /* Example Code */
        body {
          margin: 0;
          padding: 0;
        }
      </code>
    </pre>
    <h2>What I Learned:</h2>
    <p>I learned how to use media queries to create layouts that adapt to different screen sizes.</p> --}}
  </div>
</section>
