---
layout: layouts/default.hbs
title: Portfolio
permalink: portfolio.html
---

<section class="portfolio-section py-5">
  <div class="container">
    <h1>Portfolio</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            <h5>Lab 1: Responsive Design</h5>
          </div>
          <div class="card-body">
            <p>A lab exercise focusing on building responsive layouts.</p>
            <img src="/images/lab1.png" class="img-fluid" alt="Lab 1: Responsive Design">
            <a href="/labs/lab1.html" class="btn btn-primary mt-3">View More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            <h5>Classwork: Algorithms Practice</h5>
          </div>
          <div class="card-body">
            <p>Class exercises on sorting algorithms and data structures.</p>
            <img src="/images/classwork1.png" class="img-fluid" alt="Classwork: Algorithms Practice">
            <a href="/classwork/algorithms.html" class="btn btn-primary mt-3">View More</a>           
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-header">
            <h5>Final Project: Personal Website</h5>
          </div>
          <div class="card-body">
            <p>My final project showcasing a personal website.</p>
            <img src="/images/final-project.png" class="img-fluid" alt="Final Project: Personal Website">
            <a href="/projects/final-project.html" class="btn btn-primary mt-3">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
